extends ../layout

block form
  .frame
    .paper.pad
      form.partial.validate(method="post", action="/signup")
        .row.mobile
          .span-3.centered
            p: i.icon-user.enormous
          .span-9
            .ctl-row
              label
                span= __("Username")
                input.field.focus(
                type="text",
                name="user[name]",
                required='required',
                minlength='4')
            .ctl-row
              label
                span= __("Email")
                input.field(
                type="email",
                name="user[email]")
            .ctl-row
              label
                span= __("Password")
                input.field(
                type="password",
                name="user[password]",
                required='required',
                minlength='8')
        hr
        .row.mobile
          .span-3.centered
            p: i.icon-building.enormous
          .span-9
            .ctl-row
              label
                span= __("Merchant title")
                input.field(
                type="text",
                name="merchant[title]",
                required='required')

        p.centered
          button.btn.primary.large(type="submit")= __("Sign up")

block content
  .pad(data-ref="#nav-signup")
    .row
      .span-3.no-mobile-screen.no-medium-screen &nbsp;
      .span-6
        block form
      .span-3.no-mobile-screen.no-medium-screen &nbsp;
