h2= __("Deleting card")

p= __("Confirm deleting or cancelling")

form.partial(method='delete', action='#{cardPath}')
  p.centered
    button.btn.danger(type="submit")= __("Delete")
    span= __(" or ")
    a.close(href="javascript:;")= __("cancel")

