if (xhr)
  block viewport
else
  !!! 5
  html
    head
      title 2pay.co.in
      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='/css/font-awesome.css')
      script(src='/js/jquery-2.0.3.min.js')
      script(src='/js/jquery.validate.min.js')
      script(src='/js/scalpel-0.2.1.min.js')

      link(rel='stylesheet', href='/select2/select2.css')
      script(src='/select2/select2.min.js')

      script(src='/js/app.js')
    body
      #notices
        each notice in notices.get()
          div(class="notice #{notice.kind}")= notice.msg

      #header
        a.brand(href='/')
          img(src='/img/logo.png', alt='2pay.co.in')
        .nav
          if (user)
            a#user-nav.active(href="/profile")
              i.icon-user.smooth
              span #{user.name}
            a#merchant-nav
              i.icon-building.smooth
              span #{merchant.title}
            a#logout.float-right(href="/logout")
              i.icon-power-off
              span= __('Logout')
          else
            a#signup(href="/signup")= __("Registration")
            a#login(href="/login")= __("Login")
      #content
        if (user)
          #sidenav
            include shared/sidebar.p.jade
          #main
            block main
        else
          #main-not-login
            block main

      #footer
        p 2012—2013 &copy; <a href='http://2pay.co.in'>2pay.co.in</a>
