if (xhr)
  block viewport
else
  !!! 5
  html
    head
      title= __("2pay.co.in")
      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='/css/font-awesome.css')
      script(src='/js/jquery-2.0.3.min.js')
      script(src='/js/jquery.validate.min.js')
      script(src='/js/scalpel-0.2.1.min.js')

      link(rel='stylesheet', href='/select2/select2.css')
      script(src='/select2/select2.min.js')

      script(src='/js/app.js')
    body
      #notices
        each notice in notices.get()
          div(class="notice #{notice.kind}")= notice.msg

      #header
        a.brand(href='/')
          img(src='/img/logo.png', alt='2pay.co.in')
        .nav
          if (user)
            a#nav-user.elem(href="/")
              i.icon-user.smooth
              span= user.name
            .relative.inline-block
              a#nav-merchant.elem(data-switch='#merchants-list', data-switch-class='on')
                i.icon-building.smooth
                if (merchant)
                  span= merchant.title
                else
                  span= __('Select merchant')
                i.icon-caret-down
              #merchants-list.dropdown.right(data-url="/merchants/links")
            a#nav-logout.elem.float-right(href="/logout")
                i.icon-power-off
                span= __('Logout')
          else
            a.elem#nav-signup(href="/signup")= __("Signup")
            a.elem#nav-login(href="/login")= __("Login")
      #content
        block content

      #footer
        p 2012—2013 &copy; <a href='http://2pay.co.in'>2pay.co.in</a>
