extends ../merchant/layout

block main
  .frame(data-ref='#nav-pay')
    .paper.pad
      h2= __("Please, enter data of your pay card.")

      form.partial.no-overflow(method="post",
      action="/api/pay?MerchantId=#{merchant._id}&PrivateKey=#{merchant.privateKey}&OrderId=1&Cost=100&Currency=RUB")
        span= __("Card number")

        span= __("CVC")
        .row
          .span-3
            .ctl-row
              input.field(
              type="text",
              name="card[cvc]",
              required="required")

        button.btn.primary(type="submit")= __('Pay')