extends ../layout

block main
  .frame
    .paper.pad-bottom
      .pad
        h2 #{user.name}
        .subtitle #{merchant.title}
      select.select2
        each card in cards
          option #{card.number}
      table.rows(width="100%")
        hr.no-margin
        each card in cards
          tr
            td.right-align= __("Номер карты:")
            td  #{card.number}
          tr
            td.right-align= __("Валюта:")
            td #{card.currency}
          tr
            td.right-align= __("Баланс:")
            td #{card.balance}
          tr
            td.right-align= __("Действительна до:")
            td.expired-date #{card.expiredDate()}
          tr
            td.right-align= __("CVC:")
            td #{card.cvc}
      p.centered
        a.btn.primary(href="cards/create")
          i.icon-plus-sign
          span= __("Create card")
        span= __(" or ")
        a.btn.danger(href="cards/delete")
          i.icon-remove-sign
          span= __("Delete card")

