extends ../layout

block content
  #sidenav
    a#nav-summary(href=merchantPath)
      i.icon-info-sign
      span= __("Summary")
    a#nav-transactions(href="#{merchantPath}/transactions")
      i.icon-refresh
      span= __("Transactions")
    a#nav-cards(href="#{merchantPath}/cards")
      i.icon-credit-card
      span= __("Cards")
    a#nav-edit(href="#{merchantPath}/edit")
      i.icon-edit-sign
      span= __("Settings")
    a#nav-pay(href="/api/pay?MerchantId=#{merchant._id}&PrivateKey=#{merchant.privateKey}&OrderId=1&Amount=100&Currency=RUB")
      i.icon-credit-card
      span= __("Test pay")

  #main(data-ref='#nav-merchant')
    block main