extends ../layout

block append main
  .frame(data-ref='#nav-cards')
    .paper.pad
      if (cards.length > 0)
        table.sorted.rows(width='100%')
          thead
            tr
              th.sorted.asc= __('Card number')
              th.sorted= __('Expires at')
              th.sorted= __('Balance')
          tbody
            each card in cards
              tr
                td
                  a.noline(href='/card/#{card.id}')= card.numberFormatted
                td= card.expires.date
                td= card.balance + ' ' + card.currency
                td
                  a.noline.float-right.color-danger(
                  href="/card/" + card.id + "/delete",
                  title= __('Delete card'),
                  rel="popup")
                    i.icon-remove-sign

      hr.no-margin
      p
        a.btn.primary(href="#{merchantPath}/cards/new")
          i.icon-plus-sign
          span= __("Create card")